$fontSize: 52;

.ee-hero {
  background-image: linear-gradient(270deg, #ed6696 0%, #3123ae 100%);

  &__container {
    @include responsive-font($fontSize, 30);
    text-align: center;
    color: #fff;
    line-height: 1;
    padding-top: em(70, $fontSize);
    padding-bottom: em(55, $fontSize);
  }

  &__title {
    font-size: 1em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: em(20, $fontSize);
  }

  &__subtitle {
    font-size: 2.1rem;
    font-weight: 300;
    margin: 0;
    line-height: 1.3;
  }
}
