.ee-logo {
  &__elem {
    font-weight: 900;
    font-size: em(25);
    color: #db3157;
    text-transform: uppercase;
    line-height: 2.5rem;
  }

  &__exam {
    font-weight: 400;
    font-size: em(20);
    line-height: 2.5rem;
  }

  &__by {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: em(8);
    display: block;
    line-height: 1rem;
  }
}
